{{ template "chrome/head.html" . }}
<body>

{{ template "chrome/sidebar.html" . }}

    <div class="content container">
<div class="post">
  <h1>{{ .Title }}</h1>
      {{ .Content }}
</div>
</div>

{{ template "chrome/bottom.html" . }}
