    <header class="masthead">
      <div class="masthead-top">
        <img src="/img/profile.jpg" />
        <h3>{{ .Site.Title }}</h3>
        <a href="https://gitlab.com/gudnithor" class="socicon-github"></a>
        <a href="http://twitter.com/gudnithor" class="socicon-twitter"></a>
        <a href="http://instagram.com/gudnithor" class="socicon-instagram"></a>
        <a href="https://telegram.me/gudnithor" class="socicon-telegram"></a>
      </div>
      <div class="masthead-inner">

        <div class="colophon">
          <ul class="colophon-links">
              <li><a href="/">Blog</a> </li>
              {{ range .Site.Menus.main }}
                    <li><a href="{{.URL}}"> {{ .Name }} </a></li>
              {{end}}
          </ul>
        </div>
      </div>
    </header>
